<p>profile works!</p>
<div>{{user._id}}</div>
<div>{{user.userName}}</div>
<div>{{user.email}}</div>
<div>{{user.password}}</div>
<div>{{user.posts}}</div>
<div>{{user.groups}}</div>
<div>{{user.description}}</div>
<div>{{user.createdAt}}</div>
<div>{{user.groupsIdInvitations}}</div>


<button (click)="togglePosts()" > Posts </button>

    <div class="container" id="posts" *ngIf="showPosts">
        <div *ngFor="let post of posts">
            <div>{{post._id}}</div>
            <div>{{post.title}}</div>
            <div>{{post.userName}}</div>
            <hr>
        </div>
    </div>
<br>
<button (click)="toggleGroups()" > Groups </button>

    <div class="container" id="groups" *ngIf="showGroups">
        <div *ngFor="let group of groups">
            <div>{{group._id}}</div>
            <div>{{group.groupName}}</div>
            <div>{{group.description}}</div>
            <hr>
        </div>
    </div>
