<header>
    <div class="description">
        <h2 id="des">About :</h2>
        <p style="font-size:30px;">Digital data sharing platform (first try &#x1F60F; &#128527; &#x1F609;)</p>
    </div>

<div class="info">
    <div class="row">
        <div class="flat-left status">Status :</div>
        <div class="col-md-12 mx-auto bord" style="position:relative;left:60%;">
            <span class="stat">{{Nposts}} -Posts | </span>
            <span class="stat">{{Nusers}} -Users | </span>
            <span class="stat">{{Ngroups}} -Groups</span>
        </div>
    </div>
</div>
</header>



<footer>
    <p class="footer">Designed and developed by <a class="mybtn"
            href="https://www.facebook.com/profile.php?id=100009768703660" target="_blank">Ben Mrad Rami</a> at the <a
            class="mybtn" href="https://www.digitalcook.com/" target="_blank">DigitalCook Company
        </a> </p>
    <p class="float-left" style="position:absolute;bottom:0px;left:10px">
       All rights reserved RoomV1 © 2023
    </p>
</footer>