<div class="container">

    <div class="desc">
        <div><span class="font-weight-bold font-italic" >Group Name : </span>{{group.groupName}}</div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Description : </span>{{group.description}}</div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Admin : </span><a routerLink="/user/{{group.userAdmin}}" target="_blank">{{group.admin}}</a></div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Created At : </span>{{group.createdAt | date:'medium'}}</div>
        <hr>
<button class="btn btn-outline-info" data-toggle="modal" data-target="#groupMembers">See group members</button> 
    </div>

<hr>
    <button class="btn btn-outline-secondary posts" (click)="togglePosts()" id="posts"><b>{{posts.length}} Posts </b></button>

        <div class="container" *ngIf="showPosts">
            <a *ngFor="let post of posts" >
                <div class="card">
                    <div class="in">
                    <a *ngIf="showPosts" routerLink="/post/{{post._id}}" target="_blank">
                        <div id="Ptitle">{{post.title}}</div>
                        <div id=""><span>Desctiption :</span> {{post.description}}</div>
                        <div id="">{{post.nurls}} (Urls : Web Sources)</div>
                        <div id="">{{post.nfiles}} (Files)</div>
                        <div id="">{{post.cmnts}} (Comments)</div>
                        <div id="">{{post.lks}} (Stars)</div>
                        <div>privacy : <span *ngIf="getPrivacy(post)"id="public">{{post.privacy}}</span><span *ngIf="!getPrivacy(post)"id="private">{{post.privacy}}</span></div>
                        <div id=""><span>Posted At :</span> {{post.postedAt | date:'medium'}}</div>
                        <div id="author"><span>Author : </span>{{post.userName}}</div>
                    </a>
                    </div>
                </div>
                <hr>
            </a>
        </div>
</div>

<!-- show groupMembers Modal -->
<div class="modal fade mt-4" id="groupMembers" tabindex="-1" role="dialog" aria-labelledby="deletePostModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deletePostModelLabel">Group Members</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
            <h4 *ngFor="let user of users">
               <a routerLink="/user/{{user._id}}" target="_blank">
                    {{user.userName}}
                </a><span class="admin float-right" *ngIf="group.userAdmin === user._id">Admin</span>
            </h4><hr>
        </div>
     </div>
  </div>
</div>