<div class="container">

    <div class="desc">
        <div><span class="font-weight-bold font-italic" >Group Name : </span>{{group.groupName}}</div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Description : </span>{{group.description}}</div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Admin : </span><a routerLink="/user/{{group.userAdmin}}" target="_blank">{{group.admin}}</a></div>
        <hr>
        <div><span class="font-weight-bold font-italic" >Created At : </span>{{group.createdAt | date:'medium'}}</div>
        <hr>
<button class="btn btn-outline-info" data-toggle="modal" data-target="#groupMembers">See group members</button> 
<button id="isUserConnected" data-toggle="modal" data-target="#login" style="display:none"></button>
<div *ngIf="!joined || !this._auth.loggedIn()">
<button *ngIf="join" (click)="joinGroup()" class="btn btn-outline-success float-right">Join Group</button> 
<button *ngIf="!join" (click)="cancelRequest()" class="btn btn-outline-primary float-right">Cancel Request</button> 
</div>
<button *ngIf="joined && this._auth.loggedIn()" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#leaveGroup">Joined</button> 
    </div>

<hr>
    <button class="btn btn-outline-secondary posts" (click)="togglePosts()" id="posts"><b>{{posts.length}} Posts </b></button>

        <div class="container" *ngIf="showPosts">
            <a *ngFor="let post of posts" >
                <div class="card">
                    <div class="in">
                    <a *ngIf="showPosts" routerLink="/post/{{post._id}}" target="_blank">
                        <div id="Ptitle">{{post.title}}</div>
                        <div id=""><span>Desctiption :</span> {{post.description}}</div>
                        <div id="">{{post.nurls}} (Urls : Web Sources)</div>
                        <div id="">{{post.nfiles}} (Files)</div>
                        <div id="">{{post.cmnts}} (Comments)</div>
                        <div id="">{{post.lks}} (Stars)</div>
                        <div>privacy : <span *ngIf="getPrivacy(post)"id="public">{{post.privacy}}</span><span *ngIf="!getPrivacy(post)"id="private">{{post.privacy}}</span></div>
                        <div id=""><span>Posted At :</span> {{post.postedAt | date:'medium'}}</div>
                        <div id="author"><span>Author : </span>{{post.userName}}</div>
                    </a>
                    </div>
                </div>
                <hr>
            </a>
        </div>
</div>

<!-- show groupMembers Modal -->
<div class="modal fade mt-4" id="groupMembers" tabindex="-1" role="dialog" aria-labelledby="deletePostModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deletePostModelLabel">Group Members ({{group.users}})</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
            <h4 *ngFor="let user of users">
               <a routerLink="/user/{{user._id}}" target="_blank">
                    {{user.userName}}
                </a><span class="admin float-right" *ngIf="group.userAdmin === user._id">Admin</span><hr>
            </h4>
        </div>
     </div>
  </div>
</div>



<!-- Login/Signup Modal -->
<div class="modal fade showSources" id="login" tabindex="-1" role="dialog" aria-labelledby="showFilesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card rounded-0">
              <div class="card-header">
                <h3 class="mb-0">Log in</h3>
              </div>
              <div class="card-body">
                <form class="form" #loginUser="ngForm" (ngSubmit)="login(loginUser)">
                  <div class="form-group">
                    <label for="uname1">Login<span class="text-danger">*</span></label>
                    <input type="text" class="form-control rounded-0" ngModel name="login" placeholder="UserName/Email" required>
                  </div>
                  <div class="form-group">
                    <label>Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control rounded-0" ngModel name="password" required>
                  </div>

                  <div class="modal-footer">
                  <button (click)="signUp()" type="button" id="signup" data-dismiss="modal" class="btn btn-primary" style="position:absolute;left:17px">Sign up</button>
                  <button type="button" id="close-login" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button [disabled]="loginUser.invalid" type="submit" class="btn btn-success">Login</button>
                  </div>
                </form>
              </div>
              <!--/card-block-->
            </div>
        </div>
     </div>
  </div>
</div>

<!-- leave Group Modal -->
<div class="modal fade" id="leaveGroup" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteGroupModelLabel">leave {{group.groupName}} group</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to leave this group?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="leaveGroup()" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>