<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">RoomV1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
            <form class="form-inline">
               <span>
               <input class="form-control mr-sm-2 formSearch" type="search" placeholder="Search" aria-label="Search">
               </span>
               <button class="btn btn-outline-outline-primary my-2 my-sm-0 sbtn" type="submit">Search</button>
            </form>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/log-in" routerLinkActive="active">Log in</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/sign-up" routerLinkActive="active">Sign up</a>
        <li class="nav-item dropdown create">
          <a class="nav-link dropdown-toggle" *ngIf="_authService.loggedIn()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create +</a>        
           <div class="dropdown-menu userMenu" aria-labelledby="navbarDropdown" *ngIf="_authService.loggedIn()">
               <a class="dropdown-item" data-toggle="modal" data-target="#createPost">Post</a>
               <a class="dropdown-item" data-toggle="modal" data-target="#createGroup">Group</a>
           </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="_authService.loggedIn()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userName}}</a>        
  
           <div class="dropdown-menu userMenu" aria-labelledby="navbarDropdown" *ngIf="_authService.loggedIn()">
               <a class="dropdown-item">{{userName}}</a>
               <a class="dropdown-item">{{email}}</a>
               <hr>
               <a class="dropdown-item" routerLink="/user/{{id}}/posts" fragment="posts">Your Posts</a>
               <a class="dropdown-item" routerLink="/user/{{id}}/groups" fragment="groups">Your Groups</a>
               <a class="dropdown-item" routerLink="/user/{{id}}/profile">Your Profile</a>
               <a class="dropdown-item" data-toggle="modal" data-target="#updateUser">Update Profile</a>
               <a class="dropdown-item" data-toggle="modal" data-target="#logoutUser">Log out</a>
           </div>
        </li>
    </ul>
  </div>
</nav>    



<!-- Create Group Modal -->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Create Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm)">
          <div class="form-group">
             <label for="Gname">GroupName<span class="text-danger">*</span></label>
             <input type="text" ngModel name="groupName" class="form-control" id="Gname" placeholder="groupName" required>
          </div>
          <div class="form-group">
             <label for="desc">Description<span class="text-danger">*</span></label>
             <input type="text" ngModel name="description" class="form-control" id="desc" placeholder="description" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="create-group" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="groupForm.invalid" type="submit" class="btn btn-success" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>



<!-- Create Post Modal -->
<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Create Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #postForm="ngForm" (ngSubmit)="createPost(postForm)">
          <div class="form-group">
             <label for="title">Title<span class="text-danger">*</span></label>
             <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
             <label for="desc">Description<span class="text-danger">*</span></label>
             <input type="email" ngModel name="description" class="form-control" id="desc" placeholder="Description" required>
          </div>
          <div class="form-group">
             <label for="links">Links</label>
             <input type="text" ngModel name="urls" class="form-control" id="links" placeholder="Url">
          </div>
          <div class="form-group">
             <label for="files">Files</label>
             <input type="text" ngModel name="files" class="form-control" id="files" placeholder="Files">
          </div>
          <div class="form-group">
             <span>Privacy<span class="text-danger">*</span> : </span>
             <label class="form-check-label radio-label" for="public">Public</label>
             <input class="form-check-input" type="radio" ngModel name="privacy" id="public" value="public" required>
             <span class="p2">
             <label class="form-check-label radio-label" for="private">Private</label>
             <input class="form-check-input" type="radio" ngModel name="privacy" id="private" value="private" required>
             </span>
             <!-- <label for="privacy">Privacy</label>
             <input type="text" ngModel name="privacy" class="form-control" id="privacy" placeholder="privacy" required> -->
          </div>
          <div class="modal-footer">
             <button type="button" id="create-post" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="postForm.invalid" type="submit" class="btn btn-success" >Create</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>













<!-- logout Modal -->
<div class="modal fade" id="logoutUser" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Logout User</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to logout?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="_authService.logoutUser()" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>




<!-- Edit Modal -->
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Update User "{{userName}}"</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm" (ngSubmit)="updateUser(editForm)">
              <div class="form-group">
                 <label for="name">userName</label>
                 <input type="text" ngModel name="userName" class="form-control" id="name" aria-describedby="emailHelp" value="{{userName}}">
              </div>
              <!-- <input type="hidden" ngModel name="email" class="form-control" id="id" placeholder="Email">
              <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email"> -->
              <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" ngModel name="email" class="form-control" id="email" value="{{email}}">
              </div>
              <div class="form-group">
                 <label for="desc">Description</label>
                 <input type="text" ngModel name="description" class="form-control" id="desc" value="{{description}}">
              </div>
              <div class="modal-footer">
                 <button type="button" id="update-user" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>







<div class="container">
  <router-outlet></router-outlet>            
</div>


