body {
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5_E4HE79PNgDUmaGsqYi4PVSO9NIg4YGV2A&usqp=CAU'); */
  background-repeat: no-repeat;
  background-size: cover;
}
a{ cursor:pointer }
.formSearch{
  width:150%;
}
.sbtn{margin-left : 110px;}
.userMenu{
  margin-left:-100px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  text-align: center;
}
.dropdown-menu{
  background-color : #fff;
}
.dropdown-item:hover {
  background-color: gray;
}
.create{
  /* display : float;
  right : 30px; */
  margin-right:30px;
}

.radio-label {
  padding-left: 5px;
  cursor: pointer;
}

.form-check-input{
  margin-left: 10px;
}
.p2{
  margin-left: 40px;
}









